.footer{
    display:flex;
    background-color: #01589f;
    justify-content: space-evenly;
}

.first-footer{
    flex:1;
}
.middle-footer-1{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.middle-footer-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.right-footer{
    flex:1;
}
footer p {
    color: white;
  }
footer a {
    color: white;
}
footer a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.559);
}
footer h3{
    color: white;
}